.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

form.book {
  font-size: 1rem;
  button[type="submit"] {
    font-size: 1.1rem;
  }
}

.xdsoft_datetimepicker {
  margin-top: 10px;
  border: 0 !important;
  display: flex !important;
  justify-content: center;
  min-width: 100%;
  .xdsoft_datepicker {
    // min-width: 60%;
  }
}

tr:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
