.card-img-top {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

form.book {
  font-size: 1rem;
}
form.book button[type=submit] {
  font-size: 1.1rem;
}

.xdsoft_datetimepicker {
  margin-top: 10px;
  border: 0 !important;
  display: flex !important;
  justify-content: center;
  min-width: 100%;
}
