.card-img-top {
  max-height: 250px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

form.book {
  font-size: 1rem;
}
form.book button[type=submit] {
  font-size: 1.1rem;
}

tr:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

main {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1s;
}

.booking-details .booking-detail {
  font-size: 1.1rem;
}
.booking-details .booking-detail label {
  font-weight: 700;
}
.booking-details .btn {
  margin-top: 1rem;
  font-size: 1.1rem;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .booking-details {
    padding-top: 1.5rem !important;
    text-align: center;
  }
  .booking-details .booking-detail {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
  }
  .booking-details .booking-detail label {
    font-weight: 700;
    margin-bottom: 0;
  }
  .booking-details .btn {
    margin-top: 0.5rem;
  }
}
@media (max-width: 768px) {
  .card-deck {
    flex-direction: column;
  }

  .card {
    margin-top: 0.5rem;
  }
}
